main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    padding-bottom: 5%;
}

.banner{
    background: url("/images/mosh_banner.jpg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    background-attachment: fixed;
    grid-column: 1/4;
    grid-row: 1/2;
    height:  65vh;
    margin-bottom: 1%;
}

.controls{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin: auto;
}

.cost{ 
    grid-column: 2/3;
    grid-row: 4/5;
   text-align: center;    
}

.effect{
    grid-column: 2/3 ;
    grid-row: 3/4;
    text-align: center;
    margin: auto;
}

.img1{
    grid-column: 1/2;
    grid-row: 2/5;
    width: 20vw;
    margin: auto;
}

.img2{
    grid-column: 3/4;
    grid-row: 2/5;
    width: 25vw;
    margin: auto;
}

b{
    font-family: "Anton", sans-serif;
    font-size: 2em;
}

.fadeIn {
    animation: fadeIn 1s;
    opacity: 1;
}
.fadeOut {
    animation: fadeOut 1s;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(100px);
    }
} 

@media screen and (max-width: 450px) {
    
.banner{
    height: 40vh;
    background-size: 120%;
    background-position-y: 110px;
}

main{
    grid-template-rows: auto auto auto auto auto auto;
}

.img1{
    grid-column: 1/4;
    grid-row: 2/3;
    width: 58vw;
}

.img2{
    grid-column: 1/4;
    grid-row: 6/7;
    width: 60vw;
}

.controls{
    grid-column: 1/4;
    grid-row: 3/4;
}

.cost{ 
    grid-column: 1/4;
    grid-row: 5/6;  
}

.effect{
    grid-column: 1/4;
    grid-row: 4/5;
}

}